<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="81280"
    android:splitTypes=""
    package="com.astro.astro"
    split="config.en">
    <application
        android:hasCode="false"
        android:extractNativeLibs="true">
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="3"/>
    </application>
</manifest>
